.navbar-fixed
  nav: .container: .nav-wrapper
    a.brand-logo Community Currency
    ul.right.hide-on-small-only
      if currentUser
        li.active
          
          a <span class="left">#{currentUser.username}</span> <i class="material-icons left">chevron_right</i> {{getPublishedCount 'balance'}}
