.container
  .card: .card-content
    button.right.btn-floating.btn-large.waves-effect.waves-light {{getPublishedCount 'balance'}}
    span.card-title Balance
  p Want to test a transaction out? Send a transaction to the user <strong>dummy</strong>
  .card: .card-content
    span.card-title Transfer/Send
    +quickForm type="insert" id="transactionForm" collection="Transactions" doc=doc
